<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="events">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="register" >
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="organizer">
      <ion-icon name="power"></ion-icon>
      <ion-label>organizer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="getqr">
      <ion-icon name="qr-code-sharp"></ion-icon>
      <ion-label>Get QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
